html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body{
	background: #000;
	color: #FFF;
	font-family: sans-serif;
}

.load-new, input, button {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
}

.load-new {
	font-size: 40px;
	width: 100%;
	color: #FFF;
	background: #E94552;
	cursor: pointer;
	padding: 39px 30px;
	margin: 0;
	text-align: left;
	display:none;
}

.load-new:hover {
	background: #BE2B36
}

.add-new {
	background: #F56E3C;
	width: 100%;
	padding: 30px;
}

.add-new input {
	font-size: 40px;
	padding: 10px;
	width: 80%;
}

.add-new a {
	text-decoration: none;
	padding: 4px 30px;
	font-size: 40px;
	color: #FFF;
	background: #f56e3c;
	border: 6px solid #FFF;
}

.add-new button:hover {
	cursor: pointer;
}

.user, .message, .time {
	display: block;
	margin: 10px 0;
}

.user:hover{
	cursor: pointer;
	text-decoration: underline;
}

.message {
	font-size: 40px;
}

.time {
	font-style: italic;
}

.tweets div {
	padding: 10px 30px;
}

.tweets div:nth-child(odd){
	background: #444;
}

.tweets div:nth-child(even){
	background: #666;
}